header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  main {
    padding: 20px;
  }
  
  form p {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    margin-top: 10px;
  }
  